<div class="navbar-border">

  <nav class="navbar">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/recent-blogs">blogs</a></li>
      <li><a href="/new-blog">new blog</a></li>
    </ul>
  </nav>
</div>
</head>