<%- include('./includes/nav.ejs') %>

<h1>individual blog view will be here</h1>
<h2>this is the title</h2>
<p>body will be her Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum sequi doloremque in, tempora sint exercitationem perferendis reiciendis eveniet adipisci omnis. Numquam dignissimos recusandae provident tempora illum repellat, dolore incidunt fugiat!</p>
<ul>
  <li>tag</li>
  <li>tag</li>
  <li>tag</li>
</ul>