<%- include('./includes/header.ejs') %>
<%- include('./includes/nav.ejs') %>
<body>
  
  <h1>about</h1>
  <h2>this</h2>
<h3>blog</h3>
<form action="/search-tags" method="POST">
<div>
  <label for="search">tags to look for</label>
  <input type="text" name="searchTag">
</div>
<button type="submit">search!</button></form>

</body>